@import '../../styles/variables.scss';

.chat-item {
    display: flex;
    border-bottom: 1px solid $light-grey;
    padding: 16px;
}

.avatar {
    min-width: 62px;
    height: 62px;
    border-radius: 20px;
    background-color: $grey;
    margin-right: 16px;
}

.first-row, .second-row {
    display: flex;
    justify-content: space-between;
}

.second-row{
    align-items: flex-end;
    margin-top: 12px;
}

.message{
    max-width: 85%;
    color: $grey;
    @include font-body-smal;
}

.time{
    color: $grey;
    @include font-body-smal;
}

.count{
    min-width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 10px;
    background-color: $cian;
    justify-content: center;
    display: flex;

    >div{
        display: flex;
        align-self: center;
        color: $white;
        @include font-body-x-smal;
    }
}


