<div class="chat-item">
  <div class="avatar"></div>
  <div>
    <div class="first-row">
      <h6 class="heading">{{heading}}</h6>
      <span class="time">{{time}}</span>
    </div>
    <div class="second-row">
      <p class="message">{{message}}</p>
      <div class="count"><div>{{count}}</div></div>
    </div>
  </div>
</div>