<div class="not-found-wrapper">
    <div>
         <img src="./images/server-error.png" alt="собака">
    </div>
    <p class="not-found-text">Мы уже занимаемся проблемой</p>
    <div class="not-found-to-chats">{{> Link text="Назад к чатам"}}</div>
    </div>