@import '../../styles/variables.scss';

.input {
    color: $black;
    border: 1px solid $grey;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;

    &:focus-visible {
        outline: none;
        border: 1px solid $dark-grey;
    }
}

.error {
    color: $pink;
    margin-top: 4px;
}
