@import '../../styles/variables.scss';
.button{
    background-color: initial;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    width: 100%;
}

.button__primary {
    color: #fff;
    background-image:linear-gradient(90deg, $light-pink, $cian);
    @include font-body-normal;
    box-shadow: 0 4px 8px $grey;
}

.button__secondary {
    color: #fff;
    background-color: $cian;
    @include font-body-normal;
}

.button__tertiary {
    color: #fff;
    background-image:linear-gradient(90deg, $light-pink, $cian);
    @include font-body-normal;
}