<ul>
    <li><a href="#" page="login">Логин</a></li>
    <li><a href="#" page="registration">Регистрация</a></li>
    <li><a href="#" page="chats">Чаты</a></li>
    <li><a href="#" page="profile">Профиль</a></li>
    <li><a href="#" page="change-password">Смена пароля</a></li>
    <li><a href="#" page="not-found">404</a></li>
    <li><a href="#" page="server-error">500</a></li>
</ul>