<div class="container">
    <form class="registration-form">
        <div class="form-heading"><h5>Регистрация</h5></div>
        <div class="input-wrapper">
            {{> Input label="Почта" name="email" type="text"}}
        </div>
        <div class="input-wrapper">
            {{> Input label="Логин" name="login" type="text"}}
        </div>
        <div class="input-wrapper">
            {{> Input label="Имя" name="first-name" type="text"}}
        </div>
        <div class="input-wrapper">
            {{> Input label="Фамилия" name="second-name" type="text"}}
        </div>
        <div class="input-wrapper">
            {{> Input label="Телефон" name="phone " type="tel"}}
        </div>
        <div class="input-wrapper">
            {{> Input label="Пароль" name="password" type="text"}}
        </div>
        {{> Input label="Пароль (ещё раз)" name="password-double" type="password"}} 
        <div class="button-wrapper">
            {{> Button label="Зарегистрироваться" theme="primary" type="submit"}}
        </div>
        <div class="link-wrapper">
            {{> Link text="Войти"}}
        </div>
    </form>
</div>