<div class="page">
    <sidebar class="sidebar">
        <section class="menu">
            {{> MenuItem text="Чаты"}}
            <div class="item-wrapper">{{> MenuItem text="Профиль" active="true"}}</div>
        </section>

        <section class="password-current-password">
            <div class="password-avatar password-current-avatar"></div>
            <p class="password-current-name">{{name}}</p>
            <p class="password-current-nikname">{{nikname}}</p>
            <p class="password-current-phone">{{phone}}</p>
            <p class="password-current-birthday">{{birthday}}</p>
            <div class="password-settings-icons">
                <div class="password-edit-icon-wrapper">
                    <img class="icon" src="./icons/edit.svg" alt="иконка редактирования">
                </div>
                <div class="password-key-icon-wrapper">
                    <img class="icon" src="./icons/key.svg" alt="иконка ключик">
                </div>
            </div>
        </section>
    </sidebar>
    <main class="password-main">
        <p class="password-heading">Смена пароля</p>
        <form>
            <div class="password-input-wrapper">{{> Input label="Старый пароль" name="oldPassword" type="password"}}
            </div>
            <div class="password-input-wrapper">{{> Input label="Новый пароль" name="newPassword" type="password"}}
            </div>
            <div class="password-input-wrapper">{{> Input label="Повторить новый пароль" name="newPasswordRepeat"
                type="password"}}</div>
            <div class="password-button-wrapper">{{> Button label="Сохранить" theme="secondary" type="submit"}}</div>
        </form>
    </main>
</div>