<div class="not-found-wrapper">
    <div>
         <img src="./images/not-found.png" alt="собака">
    </div>
    <p class="not-found-text">Ой, такой страницы не существует</p>
    <div class="not-found-to-chats">{{> Link text="Назад к чатам"}}</div>
    </div>